.block6
  width 100%
  height auto
  background-color #f9f9f9

  .block6-content
    width 100%
    height auto
    justify-content center
    align-items center
    flex-direction column
    padding-top 40px
    padding-bottom 100px
    box-sizing border-box

    .block6-head
      width 100%
      height auto
      margin-bottom 40px

      h2
        @media (min-width d-screen)
          line-height 42px


    .investments-info
      margin-bottom 40px
      @media (min-width t-screen)
        flex-flow row wrap
      .investment
        width 296px
        height 250px
        padding 40px 12px
        @media (min-width t-screen)
          margin-bottom 10px
        @media (min-width d-screen)
          width 278px
        .investment-text
          p
            font-size 16px

    p
      color #232323
      font-family LatoWebMedium
      font-size 14px
      font-weight 400
      text-align center
      margin 0 auto
      @media (min-width t-screen)
        font-size 16px