body
  width 100%
  height 100%
  background-color #ffffff

.err-form
  border-color red!important

@require reset
@require mixins
@require header
@require block1
@require block2
@require block3
@require block4
@require block5
@require block6
@require block7
@require block8
@require block9
@require block10
@require block11
@require footer

