section.block5.cnt
    div.block5-content.row
        div.block5-head
            h2 Фонд SkyWay Capital
            p Sky Way Capital — это крупнейший инвестиционный фонд. Наша основная задача — финансирование проекта  Sky Way для скорейшего вывода инновационной транспортной системы на мировой рынок. Мы выбрали самый оптимальный способ финансовой поддержки проекта – краудинвестинг, или народное финансирование, которое даёт возможность каждому из вас, стать совладельцем компании будущего.

        div.slider-tabs
            button.tab.slider1.tab-active Сертификаты
            button.tab.slider2 Фото с мероприятий

        div.slick-prev1

        div.slick-slider.slider-1
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-1.png")
                        img(src="img/photo-1.png")
                p Работа по созданию путевой структуры SkyWay
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-3.png")
                        img(src="img/photo-3.png")
                p Процесс строительства грузовой струнной эстакады
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-4.png")
                        img(src="img/photo-4.png")
                p Облагораживание и озеленение территории
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-1.png")
                        img(src="img/photo-1.png")
                p Первые метры юнибайка SkyWay
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты




        div.slick-next1
        div.slick-prev2

        div.slick-slider.slider-2
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-1.png")
                        img(src="img/photo-1.png")
                p Работа по созданию путевой структуры SkyWay
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-3.png")
                        img(src="img/photo-3.png")
                p Процесс строительства грузовой струнной эстакады
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-4.png")
                        img(src="img/photo-4.png")
                p Облагораживание и озеленение территории
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-1.png")
                        img(src="img/photo-1.png")
                p Первые метры юнибайка SkyWay
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты
            div.slick-slide.slide
                div.slide-img
                    a.fancybox(href="img/photo-2.png")
                        img(src="img/photo-2.png")
                p Установка анкерных опор на фундаменты


        div.slick-next2