section#reg.block11.cnt
    div.block11-content.row
        h2 Региструйтесь! Это бесплатно!
        p Сейчас наш проект вышел на финишную прямую и вскоре возможность инвестирования может быть закрыта. Но у вас еще осталась возможность не только инвестировать в самую ожидаемую мировую инновацию, но и построить свой бизнес, свою партнерскую структуру на максимально выгодных условиях. Помните, лучше попробовать то-то новое, чем потом жалеть о навсегда упущенных возможностях! Присоединяйтесь прямо сейчас.
        a.fancybox(href="https://new.skyway.capital/auth/login?do=register" target=_blank) Зарегистрироваться


#regist
    div.reg-popup
        h2 Регистрация
        form(action="mailer.php" method="post")
            input(name="name" type="text" placeholder="Ваше имя")
            input(name="email" type="text" placeholder="Ваш email")
            button(type="submit") OK!