section#tech.block3.cnt
    div.block3-content.row
        div.block3-head
            h2 Что такое SkyWay

        div.tabs-block
            button.tab.tab-one.tab-active Путевая структура
            button.tab.tab-two Подвижной состав
            button.tab.tab-tree Инфраструктура

        div.sk-block
            div.marker.marker-one
                div.center-marker
            div.marker.marker-two
                div.center-marker
            div.marker.marker-tree
                div.center-marker
            img.img-one.img-active(src="img/img-2-01.png")
            img.img-two(src="img/img-2-02.png")
            img.img-tree(src="img/img-2-03.png")

            div.pop-up.pop-one.pop-active
                p Путевая структура
                span Эстакада SkyWay сокращает количество строительных материалов и снижает стоимость в 15 раз  по сравнению с традиционной эстакадой. При одинаковой распределенной нагрузке эстакада в 5 раз жёстче и в 3 раза прочнее традиционного моста.

            div.pop-up.pop-two
                p Подвижной состав
                span Эстакада SkyWay сокращает количество строительных материалов и снижает стоимость в 15 раз  по сравнению с традиционной эстакадой. При одинаковой распределенной нагрузке эстакада в 5 раз жёстче и в 3 раза прочнее традиционного моста.


            div.pop-up.pop-tree
                p Инфраструктура
                span Эстакада SkyWay сокращает количество строительных материалов и снижает стоимость в 15 раз  по сравнению с традиционной эстакадой. При одинаковой распределенной нагрузке эстакада в 5 раз жёстче и в 3 раза прочнее традиционного моста.
