section#project.block2.cnt
    div.block2-content.row
        div.block2-head
            h2 Революционный проект SkyWay

        div.video-info
            div.video
                <iframe src="https://www.youtube.com/embed/JSqGUtbBosc?ecver=1" frameborder="0" allowfullscreen></iframe>

            div.text-video
                p SkyWay признана Экспертным Советом при Министерстве Транспорта РФ, как инновационная и по-настоящему востребованная технология. Все документы и подтверждения находятся в открытом доступе.
                p Технология SkyWay уже может похвастаться действующими моделями Юнибуса и Юнибайка, которые расположены на испытательном полигоне ЭкоТехноПарк.
                p Действующие прототипы струнного транспорта были представлены международной публике на выставках Innotrans, Smart Cities India и многих других. Стенды проекта имели оглушительный успех.
                p У SkyWay уже есть множество предзаказов и адресных проектов от других стран. За время старта инвестирования, проект завоевал доверие ведущих специалистов и стал альтернативой любой из современных транспортных систем.
                p Строительство ЭкоТехноПарка для демонстрации и запуска технологии находится на завершающем этапе. Осталось совсем немного до мирового запуска.