section.block7.cnt
    div.block7-content.row
        div.block7-head
            h2 Прозрачная партнёрская программа

        div.descriptions
            div.description
                div.info
                    div.info-block
                        p i
                    div.info-popup
                        p Множество партнеров уже начали строить свою структуру, привлекая новые инвестиции для финансирования проекта. Каждый из них может рассказать о своем приятном опыте работы со SkyWay. Если вы хотите сами побеседовать с ними, то посетите одну из наших конференций, где можно узнать о партнерской программе все в мельчайших подробностях.

                p Проверенная и реально работающая модель построения партнерского взаимодействия.

            div.description
                div.info
                    div.info-block
                        p i
                    div.info-popup
                        p Для того, чтобы начать зарабатывать на партнерской программе, достаточно просто подписать соглашение в личном кабинете SkyWay Capital и использовать индивидуальную ссылку для привлечения новых партнеров. Большинство расчетов проходят автоматически, что снимает с вас необходимость совершать какие-либо сложные подсчеты. Вы будете видеть свою структуру и полностью ее контролировать.
                p Легкость вступления в программу с готовым маркетинг-планом, позволяющем зарабатывать на всех этапах взаимодействия.

            div.description
                div.info
                    div.info-block
                        p i
                    div.info-popup
                        p В нашей партнерской программе четко и по пунктам прописаны все условия сотрудничества. Вы всегда можете рассчитывать на полную честность и открытость как с нашей стороны, так и со стороны партнеров. Мы тщательно следим за  своей репутацией, готовы оперативно решить любой вопрос и помочь разобраться с не слишком понятной темой.
                p Прозрачные и взаимовыгодные партнерские отношения и условия сотрудничества.

            div.description
                div.info
                    div.info-block
                        p i
                    div.info-popup
                        p Чем выше ваш ранг в структуре, тем больший процент от вкладываемых инвестиций вы сможете вернуть на свой счет. Это стимул развивать личную партнерскую сеть, как выгодный бизнес, в котором вы сами себе начальник.
                p Специализированные лидерские бонусы (до 26% от каждой инвестиции в Вашей структуре).

            div.description
                div.info
                    div.info-block
                        p i
                    div.info-popup
                        p Наши менеджеры готовы оказать информационную и техническую поддержку в любое время. Просто позвоните и поделитесь проблемой, чтобы специалисты могли разобраться в причинах и быстро ее решить или ответить максимально развернуто на ваши вопросы.
                p Команда профессиональных информационных менеджеров для работы по партнерской программе



        a.download(href="https://new.skyway.capital/images/translation/ru/I7joGRYdAbGh7lsmSfrV0sq0Al34_rAv_b.pdf" onclick="return false").tab Скачать полное <br>описание программы
