section#reviews.block9.cnt
    div.block9-content.row
        div.block9-head
            h2 Успешные партнеры SkyWay

        div.pertners-slider
            div.slick-slider
                div.slick-slide
                    div.video-slide
                        <iframe src="https://www.youtube.com/embed/JSqGUtbBosc?ecver=1" frameborder="0" allowfullscreen></iframe>
                    div.partners-text
                        p «Закон Парето, или принцип Парето, или принцип 20/80 — эмпирическое правило, названное в честь экономиста и социолога Вильфредо Парето, в наиболее общем виде формулируется как «20 % усилий дают 80 % результата, а остальные 80 % усилий — лишь 20 % результата».
                        div.name-partners
                            p Александр Мосин
                            a.fancybox(href="#video-partners") Смотреть видео

                div.slick-slide
                    div.video-slide
                        <iframe src="https://www.youtube.com/embed/JSqGUtbBosc?ecver=1" frameborder="0" allowfullscreen></iframe>
                    div.partners-text
                        p «Закон Парето, или принцип Парето, или принцип 20/80 — эмпирическое правило, названное в честь экономиста и социолога Вильфредо Парето, в наиболее общем виде формулируется как «20 % усилий дают 80 % результата, а остальные 80 % усилий — лишь 20 % результата».
                        div.name-partners
                            p Александр Мосин
                            a.fancybox(href="#video-partners") Смотреть видео

                div.slick-slide
                    div.video-slide
                        <iframe src="https://www.youtube.com/embed/JSqGUtbBosc?ecver=1" frameborder="0" allowfullscreen></iframe>
                    div.partners-text
                        p «Закон Парето, или принцип Парето, или принцип 20/80 — эмпирическое правило, названное в честь экономиста и социолога Вильфредо Парето, в наиболее общем виде формулируется как «20 % усилий дают 80 % результата, а остальные 80 % усилий — лишь 20 % результата».
                        div.name-partners
                            p Александр Мосин
                            a.fancybox(href="#video-partners") Смотреть видео

                div.slick-slide
                    div.video-slide
                        <iframe src="https://www.youtube.com/embed/JSqGUtbBosc?ecver=1" frameborder="0" allowfullscreen></iframe>
                    div.partners-text
                        p «Закон Парето, или принцип Парето, или принцип 20/80 — эмпирическое правило, названное в честь экономиста и социолога Вильфредо Парето, в наиболее общем виде формулируется как «20 % усилий дают 80 % результата, а остальные 80 % усилий — лишь 20 % результата».
                        div.name-partners
                            p Александр Мосин
                            a.fancybox(href="#video-partners") Смотреть видео

#video-partners
    <iframe src="https://www.youtube.com/embed/JSqGUtbBosc?ecver=1" frameborder="0" allowfullscreen></iframe>



