section.block8.cnt
    div.block8-content.row
        div.block8-head
            h2 Динамика развития фонда
            p SkyWay Capital активно развивается и растет по количеству участников и объему инвестирования. Каждый год мы  увеличиваем темпы роста и совершенствуемся.  Уже сейчас у нас есть представители в 100 странах мира. Более 140 000 инвесторов стали одной большой командой.

        div.tab-dinamic
            button.svg1.tab.tab-active Участники
            button.svg2.tab Инвестиции
            button.svg3.tab География

        div.svg-images
            div.svg-1.svg-active
            div.svg-2
            div.svg-3