section.block4.cnt
    div.block4-content.row
        div.block4-head
            h2 Этапы готовности SkyWay
            p Мы разделили проект на 15 этапов: от подготовки документации до первых государственных и частных заказов. Сейчас проект находиться на 9 этапе и нам осталось совсем немного до полной реализации проекта!

        div.steps-block
            p.dev Разработка <br>технологии
            p.craft Стоительство <br>Экотехнопарка
            p.buy Внедрение <br>и продажа


        div.time-block
            p Осталось минимум времени до закрытия возможности финансирования в компанию SkyWay.

        div.investments
            div.investments-head
                h4 Инвестиции в проект сейчас это:

            div.investments-info
                div.investment
                    div.investment-img
                        img(src="img/case.svg")
                    div.investment-text
                        p Более 100 компаний
                        span со всех континентов проявили интерес к Sky Way и стали нашими партнерами!

                div.investment
                    div.investment-img
                        img(src="img/hands.svg")
                    div.investment-text
                        p Вы станете одним из совладельцев
                        span крупнейшей мировой транспортной корпорации
                div.investment
                    div.investment-img
                        img(src="img/wallet.svg")
                    div.investment-text
                        p С каждого
                        span реализованного компанией проекта вы получите прибыль, соответствующую вашему количеству долей компании

            p В конечном итоге ваши вложения окупятся в
                span  56 раз
                |  за пару лет !
