section.block6.cnt
    div.block6-content.row
        div.block6-head
            h2 Приемущества SkyWay

        div.investments-info
            div.investment
                div.investment-img
                    img(src="img/support.svg")
                div.investment-text
                    p Техническая поддержка <br>24/7 на 53 языках


            div.investment
                div.investment-img
                    img(src="img/grafick.svg")
                div.investment-text
                    p Подробная статистика <br>на любом уровне


            div.investment
                div.investment-img
                    img(src="img/people.svg")
                div.investment-text
                    p Огромное <br>сообщество


            div.investment
                div.investment-img
                    img(src="img/connect.svg")
                div.investment-text
                    p Большое каличество <br>партнеров и инвесторов

        p + трансфер долей компании осуществляется с большим дисконтом (скидкой, более чем 1:100)