section.block1.cnt
    div.block1-bg
    div.block1-content.row
        div.block1-head
            h1 Партнёрская программа SkyWay
            h3 Заработайте с нами до 540 000 руб. в месяц

        div.block1-info
            p Легко разобраться новичку
            span Условия нашей партнерской программы прозрачны и понятны. Вы не столкнетесь со сложной терминологией и запутанными графиками.

            p Получайте от 15 до 26% от инвестиций вашей структуры
            span Чем выше ваш партнерский статус, тем больше вы получите от партнерской программы. У нас самый большой процент отчислений без скрытых условий.

            p 30 инструментов для работы
            span Мы предоставляем вам широкий спектр инструментов и красочных рекламных материалов для привлечения новых партнеров.

        button.button-white Стать партнёром