footer.cnt
    div.footer-content.row
        a.fancybox.politic(href="#politic") Политика конфиденциальности
        div.icon-soc
            a(href="https://vk.com/skywaycapital " target=_blank)
                img(src="img/vkontakte.svg")
            a(href="https://www.facebook.com/groups/769013959849593/ " target=_blank)
                img(src="img/facebook.svg")
            a(href="https://www.instagram.com/skywaycapital/ " target=_blank)
                img(src="img/instagram.svg")
            a(href="https://www.youtube.com/channel/UCGHW5...s5gv-IbOgg " target=_blank)
                img(src="img/yt.svg")

        div.contact
            a(href="mailTo:mail@skyway.capital") mail@skyway.capital
            a(href="tel:88001009820") 8 800 100-98-20


      

div#politic
    div.politic-popup
        h2 Политика конфиденциальности
        p Данное соглашение об обработке персональных данных разработано в соответствии с законодательством Российской Федерации.
        p Все лица, заполнившие сведения, составляющие персональные данные на данном сайте, а также разместившие иную информацию обозначенными действиями подтверждают свое согласие на обработку персональных данных и их передачу оператору обработки персональных данных.

