title SkyWay
meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1")
meta(name="description" content="")
link(rel="icon" type="image/x-icon" href="img/favicon.ico")
link(rel="stylesheet" href="style.css")
link(rel="stylesheet" href="fonts/stylesheet.css")
link(rel="stylesheet" type="text/css" href="js/slick.css")
link(rel="stylesheet" type="text/css" href="js/slick-theme.css")
link(rel="stylesheet" type="text/css" href="js/owl.carousel.min.css")
link(href="js/jquery.fancybox.css" rel="stylesheet")


script(src="js/jquery.min.js")
script(src="js/slick.js")
script(src="js/slick.min.js")
script(src="js/jquery.fancybox.js")
script(src="js/jquery.maskedinput.js")
script(src="js/owl.carousel.min.js")
script(src="js/script.js")



