header.cnt
    div.header-content.row
        div.logo-block
            img(src="img/logo.png")

        div.menu
            nav
                a.scroll-to(href="#project" onclick="return false") О проекте
                a.scroll-to(href="#tech" onclick="return false") Технология
                //a.scroll-to(href="#reviews" onclick="return false") Отзывы
                a.scroll-to(href="#reg" onclick="return false") Регистрация
                //a.scroll-to(href="#" onclick="return false") Ещё

        a(href="tel:88001009820") 8 800 100-98-20

        div.laung-block
            a(href="http://sait.worknext.ru/skyway-landing/index-en.php" onclick="return false")
                img(src="img/flag.png")
                p ENG

        div.menu-hamburger
            div.block-menu
                div.burger
                    div.line1
                    div.line2
                    div.line3

