doctype html
html(lang="en")
    head
        include head
    body
        include header
        include block1
        include block2
        include block3
        include block4
        include block5
        include block6
        include block7
        include block8
        //include block9
        include block10
        include block11
        include footer


